@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Yanone+Kaffeesatz:wght@200..700&display=swap');

.row>* {
    padding-left: 0;
    padding-right: 0;
}

p{
    font-size: 16px;
    line-height: 150%;
    font-weight: 400px;
    margin-bottom: 0;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Yanone Kaffeesatz";
    line-height: 140%;
    color: #5A4939;
    font-weight: 600;
    margin-bottom: 0;
}

h1{
    font-size: 64px;
    font-weight: 700;
    line-height: 100%;
    padding: 24px;
    margin-top: 92px;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 36px;
    line-height: 100%;
}

h4{
    font-size: 32px;
}

h5{
    font-size: 26px;
}

header{
    background-color: #5A4939;
    padding: 8px 0;
    border-bottom: 1px solid #F9F4EF;
}

header img{
    width: 176.657px;
    height: 44px;
}

body{
    color: #020826;
    font-family: "Nunito Sans";
    font-style: normal;
    background-color: #F9F4EF;
}

.nav-link{
    color: #CCCCCC;
    font-weight: 700;
    padding: 0;
}

.nav-link:hover, .nav-link:active, .nav-link.active, .nav-link:focus{
    color: #FFFFFE !important;
}

.navbar-toggler {
    background-color: #FFFFFE;
    color: #F9F4EF;
}

.navbar-nav{
    gap: 20px;
}

.primary-button{
    background: #69573F;
    padding: 8px 24px;
    color: #FFFFFE;
    font-weight: 700;
}

.primary-button:hover{
    background: linear-gradient(180deg, #69573F 0%, #4F4134 100%);
    color: #FFFFFE;
}

.primary-button:active{
    border: 2px solid #69573F !important;
    color: #69573F !important;
    background: #F9F4EF !important;
}

.wrapper{
    gap: 40px;
}

#hero-section, #about-us, #menu, #why-choose-us, #testimonials, footer{
    padding-top: 80px;
    padding-bottom: 80px;
}

#menu, #testimonials{
    background: #BBB289;
}

#hero-section{
    background: url(assets/hero-img.jpg) lightgray 50% / cover no-repeat;
    height: 80vh;
}

#hero-section .container div{
    border-radius: 8px;
    background: #F9F4EF;
    box-shadow: 8px 8px 0px 0px #5A4939;
    width: 550px;
    padding: 28px;
    gap: 20px;
}

#about-us .row{
    gap: 40px;
}

#about-content{
    gap: 16px;
}

#team{
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 8px;
    border: 2px solid #5A4939;
    background: url("assets/about-us.jpg") lightgray 50% / cover no-repeat;
    box-shadow: 8px 8px 0px 0px #5A4939;
    padding-top: 400px;
}

#menu h2{
    margin-bottom: 8px;
}

#menu .container > p{
    margin-bottom: 28px;
}

#menu{
    margin-top: 28px;
}

#menu .coffee{
    border-radius: 12px;
    background:#FFFFFE;
    box-shadow: 0px 0px 5px 0px #5A4939;
    width: 300px;
}

#menu .coffee img{
    border-radius: 12px 12px 0 0;
}

#menu .coffee .flavor-price{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

#menu .coffee .flavor-price p{
    font-weight: 700;
}

#why-choose-us .row{
    border: 1px solid #69573F;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#why-choose-us h2{
    margin-bottom: 40px;
}

#why-choose-us .box{
    padding: 20px;
    gap: 12px;
}

#why-choose-us #barista-woman{
    border-right: 1px solid #5A4939;
    border-left: 1px solid #5A4939;
    background: url("assets/why-choose-us.jpg") lightgray 0px 0px / 100% 100% no-repeat;
}

#why-choose-us .box img{
    height: 48px;
    width: 48px;
}

#why-choose-us .row .col-lg-4 .box:first-child{
    border-bottom: 1px solid #69573F;
}

#testimonials h2{
    margin-bottom: 40px;
}

#testimonials .review-card{
    border-radius: 12px;
    border: 1px solid #020826;
    background: #F9F4EF;
}

#testimonials .quote, #testimonials .person{
    padding: 20px;
}

#testimonials .quote{
    border-bottom: 1px solid #020826;
}

#testimonials .person{
    gap: 20px;
}

#testimonials .person img{
    width: 56px;
    height: 56px;
}

#testimonials .person .name{
    font-style: 20px;
    font-weight: 700;
}

#testimonials .person .title{
    font-style: 12px;
    font-weight: 700;
    color: #666;
}

#newsletter{
    padding-top: 100px;
    padding-bottom: 100px;
    background: url("assets/newsletter-cover-img.png") lightgray 50% / cover no-repeat;
}

#newsletter .container{
    border-radius: 8px;
    padding: 40px;
    border: 2px solid #69573F;
    background: #F9F4EF;
    box-shadow: 8px 8px 0px 0px #5A4939;
    width: 930px;
    gap: 20px;
}

#newsletter .input-group{
    width: 740px;
}

#newsletter input{
    border: 2px solid #69573F;
}

#newsletter input:focus{
    box-shadow: 0 0 0 .25rem rgb(105 87 63 / 25%);
}

#newsletter .primary-button{
    margin-left: -36px;
}

footer{
    background: #5A4939;
}

footer .row{
    row-gap: 40px;
}

footer h5, footer p{
    color: #FFFFFE;
}

footer .row > .d-flex {
    gap: 20px;
}

footer .social-icons{
    gap: 20px;
}

footer .social-icons a:hover{
    transform: scale(1.2);
    transition-duration: 0.3s;
    transition-property: transform;
}

#copyright{
    padding: 24px;
}

#copyright a{
    color: #5A4939;
    text-decoration: none;
    font-weight: 700;
}

#copyright a:hover{
    text-decoration: underline;
}

@media (min-width: 0px) and (max-width: 767.98px){
    h1{
        font-size: 44px;
    }
    
    h2{
        font-size: 36px;
    }
    
    h3{
        font-size: 32px;
    }
    
    h4{
        font-size: 26px;
    }
    
    h5{
        font-size: 22px;
    }

    header{
        padding: 8px 28px;
    }

    header ul{
        margin-top: 20px;
    }

    #hero-section, #about-us, #menu, #why-choose-us, #testimonials, #newsletter, footer{
        padding: 40px 28px;
    }

    #newsletter .container{
        width: 100% !important;
    }

    #hero-section{
        height: 100%;
    }

    #hero-section .container div{
        width: 100%;
    }
}

@media (max-width: 991.98px) {
    h1{
        line-height: 140%;
    }

    header ul{
        padding-bottom: 20px;
    }

    #team{
        padding-top: 288px;
    }

    #menu .coffee{
        width: 47%;
    }

    #why-choose-us h2, #testimonials h2 {
        margin-bottom: 20px !important;
    }

    #why-choose-us .row .col-lg-4{
        flex-direction: row !important;
    }

    #why-choose-us .row .col-lg-4 .box{
        width: 50%;
    }

    #why-choose-us #barista-woman{
        height: 800px;
        border: none;
        border-top: 1px solid #5A4939;
        border-bottom: 1px solid #5A4939;
    }

    #why-choose-us .row .col-lg-4 .box:first-child{
        border: none;
        border-right: 1px solid #69573F;
    }

    #testimonials .wrapper{
        flex-wrap: wrap;
    }

    #newsletter .container{
        width: 80%;
    }

    #newsletter .input-group{
        width: 100%;
    }
}